<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Respost your mom</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="container">
        <h1>Donnez moi un nom de personnalité très célèbre</h1>
        <input type="text" id="passwordInput" placeholder="Entrez le nom du boug" />
        <button id="submitBtn">Envoyer</button>
        <p id="response"></p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
